@model UCT.Models.LearningGoal

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("CreateLearningGoal", "Competency", FormMethod.Post, new { id = "CreateLearningGoalForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LearningGoal</legend>

        @Html.HiddenFor(model => model.ProgramID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Program)
        </div>
        <div class="form-value-label">
            <span>@Html.Raw(Model.Program.Description)</span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, 5, 20, null)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </fieldset>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
