@model UCT.ViewModels.VersionViewModel

@{
    ViewBag.Title = "Version";
}

<h2>Version   @Model.Version.FirstOrDefault().VersionName</h2>
<h2>Program   @Model.UserPrograms.FirstOrDefault().Description</h2>

<p>
   @*Html.ActionLink("Create New", "Create")*@
</p>



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgramID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VersionID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersionID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
